<header>
  <h1>Tienda de Disfraces</h1>
  <svg id="svg-cabecera" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-venetian-mask"><path d="M18 11c-1.5 0-2.5.5-3 2"/><path d="M4 6a2 2 0 0 0-2 2v4a5 5 0 0 0 5 5 8 8 0 0 1 5 2 8 8 0 0 1 5-2 5 5 0 0 0 5-5V8a2 2 0 0 0-2-2h-3a8 8 0 0 0-5 2 8 8 0 0 0-5-2z"/><path d="M6 11c1.5 0 2.5.5 3 2"/></svg>
  <h2>​Administrador</h2>
</header>
<input [(ngModel)]="idUsuario" id="newId">
<!-- <button (click)="isAdmin(idUsuario())">EsAdmin?</button> -->
<button (click)="getUsuarios()">Mostrar Usuarios</button>
<!-- Mostrar la lista de disfraces con todos los campos -->

<button *ngIf="usuarios.length > 0" (click)="ocultarUsuarios()">Ocultar Usuarios</button>
<br>
<input [(ngModel)]="id" id="newId">
<button (click)="getUsuarioPorIdORol(id())">Filtrar por ID</button>
<br>
<select [(ngModel)]="roll" name="rol" required>
  <option value="">Selecciona el tipo de usuario</option>
  <option value="Cliente">Cliente</option>
  <option value="Administrador">Administrador</option>

</select>
<button (click)="getUsuarioPorIdORol(roll())">Filtrar por rol</button>


<!-- Formulario para agregar/editar un disfraz -->
<form (ngSubmit)="addOrUpdateUsuario()">
  <select [(ngModel)]="rol" name="rol" required>
    <option value="">Selecciona el tipo de usuario</option>
    <option value="Cliente">Cliente</option>
    <option value="Administrador">Administrador</option>
    
  </select>
  <button type="submit">{{ isEditMode ? 'Actualizar Disfraz' : 'Agregar Disfraz' }}</button>
  <button type="reset" *ngIf="isEditMode" (click)="toogleEditMode()">Cancelar</button>
</form>

<!-- Mostrar la lista de disfraces -->
<ul>
  <li *ngFor="let usuario of usuarios">
    
    <strong>ID:</strong> {{ usuario.rol }} <br>
    
    
    <strong>ID:</strong> {{ usuario._id }} <br>
    <button (click)="deleteUsuarioPorId(usuario._id)">Eliminar</button>
  </li>
</ul>

