<header>
  <h1>Tienda de Disfraces</h1>
  <svg id="svg-cabecera" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-venetian-mask"><path d="M18 11c-1.5 0-2.5.5-3 2"/><path d="M4 6a2 2 0 0 0-2 2v4a5 5 0 0 0 5 5 8 8 0 0 1 5 2 8 8 0 0 1 5-2 5 5 0 0 0 5-5V8a2 2 0 0 0-2-2h-3a8 8 0 0 0-5 2 8 8 0 0 0-5-2z"/><path d="M6 11c1.5 0 2.5.5 3 2"/></svg>
  <h2>Usuarios</h2>
</header>
<input [(ngModel)]="idUsuario" id="newId" placeholder="Escriba su ID">
<button (click)="getUsuarios()">Mostrar Usuarios</button>
<!-- Mostrar la lista de disfraces con todos los campos -->

<button *ngIf="usuarios.length > 0" (click)="ocultarUsuarios()">Ocultar Usuarios</button>
<br>
<!-- Filtrar por rol -->
<select [(ngModel)]="roll" name="rol" required>
  <option value="">Selecciona el tipo de usuario</option>
  <option value="Cliente">Cliente</option>
  <option value="Administrador">Administrador</option>

</select>
<button (click)="getUsuarioPorRol(roll())">Filtrar por rol</button>


<!-- Formulario para agregar un usuario -->
<form (ngSubmit)="addUsuario()">
  <select [(ngModel)]="rol" name="rol" required>
    <option value="">Selecciona el tipo de usuario</option>
    <option value="Cliente">Cliente</option>
    <option value="Administrador">Administrador</option>
    
  </select>
  <button type="submit">Darse de alta</button>
</form>

<!-- Eliminar usuario -->
<input [(ngModel)]="idDelete" id="newId">
<button (click)="deleteUsuarioPorId(idDelete)">Darse de baja</button>

<!-- Mostrar la lista de disfraces -->
<ul>
  <li *ngFor="let usuario of usuarios">
    
    <strong>Rol:</strong> {{ usuario.rol }} <br>
    <strong>ID:</strong> {{ usuario._id }} <br>
  </li>
</ul>

