<header>
  <h1>Tienda de compras</h1>
  <svg id="svg-cabecera" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-venetian-mask"><path d="M18 11c-1.5 0-2.5.5-3 2"/><path d="M4 6a2 2 0 0 0-2 2v4a5 5 0 0 0 5 5 8 8 0 0 1 5 2 8 8 0 0 1 5-2 5 5 0 0 0 5-5V8a2 2 0 0 0-2-2h-3a8 8 0 0 0-5 2 8 8 0 0 0-5-2z"/><path d="M6 11c1.5 0 2.5.5 3 2"/></svg>
  <h2>​Administrador</h2>
</header>
<input [(ngModel)]="idUsuario" id="newId">
<button (click)="memorizarUsuario(idUsuario())">Ok</button>
<button (click)="getCompras()">Mostrar compras</button>
<!-- Mostrar la lista de compras con todos los campos -->

<button *ngIf="compras.length > 0" (click)="ocultarCompras()">Ocultar compras</button>
<br>
<input [(ngModel)]="id" id="newId">
<button (click)="getComprasPorIdCliente(id())">Filtrar por ID</button>



<!-- Formulario para agregar/editar un compra -->
<form (ngSubmit)="addOrUpdateCompra ()">
  <!-- <select [(ngModel)]="tipo" name="tipo" required>
    <option value="">Selecciona el tipo de compra</option>
    <option value="Payaso">Payaso</option>
    <option value="Niño">Niño</option>
    <option value="Animmales">Animmales</option>
    <option value="Navideños">Navideños</option>
  </select> -->

  <input type="text" [(ngModel)]="id_cliente" name="id_cliente" placeholder="IdCliente" required [disabled]="isEditMode"/>
  <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="nombre" required />
  <input type="text" [(ngModel)]="id_articulo" name="id_articulo" placeholder="id_articulo" required [disabled]="isEditMode" />
  <input type="number" [(ngModel)]="cantidad" name="cantidad" placeholder="Cantidad" min="0" required [disabled]="isEditMode"/>
  <input type="text" [(ngModel)]="direccion" name="direccion" placeholder="direccion" required />

  <button type="submit">{{ isEditMode ? 'Actualizar Compra' : 'Agregar Compra' }}</button>
  <button type="reset" *ngIf="isEditMode" (click)="toogleEditMode()">Cancelar</button>
</form>

<!-- Mostrar la lista de compras -->
<ul>
  <li *ngFor="let compra of compras">
    <h3 id="nombre">
      {{ compra.nombre }}
    </h3>
    <strong>IdCliente:</strong> {{ compra.id_cliente }} <br>
    <strong>Nombre:</strong> {{ compra.nombre }} <br>
    <strong>IdArticulo:</strong> {{ compra.id_articulo }} 
    <br>
    <strong>Cantidad:</strong> {{ compra.cantidad }} <br>
    <strong>Direccion:</strong> {{ compra.direccion }} <br>
    <strong>ID:</strong> {{ compra._id }} <br>
<!-- AQUI IRIA LA REPRESENTACION DEL LOOKUP   ?????? -->
    <button (click)="editCompra(compra)">Editar</button>
    <button (click)="deleteCompraPorId(compra._id)">Eliminar</button>
  </li>
</ul>

